frontend/node_modules
node_modules
backend/node_modules
npm-debug*
frontend/.nuxt
frontend/.nuxt-dist
backend/build
backend/cache
backend/.tmp
backend/.strapi-updater.json
backend/.package-lock.json
frontend/.package-lock.json
#frontend/assets/images
#frontend/static/images
.env.example*
README*
readme*
*.md
.github
Dockerfile
.dockerignore
.gitignore
.package-lock.json